*{
background:black;
color: white ;
}
.movie-app> .row{
    position: fixed;
    width: 100%;
} 

.image-container{
    position: relative; 
    transition: transform 01.5s;
    
} 
.image-container:hover{
cursor: pointer;
transform:scale(1.1);
}
.image-container:hover .overlay{
    opacity: 0.9;
}
.overlay{
    position: absolute;
    background: rgb(0, 0, 0,0.8);
    width: 100%;
    transition: 1.9s ease; 
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
border-radius: 50px;

}
.tag{
    background: none;
}

